.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  justify-content: flex-start;

  gap: 32px 20px;
  padding: 70px 0 10px 0;
}

.movies__button-area {
  margin: 50px 0 80px;
}

.movies__button {
  width: 320px;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  padding: 11px 0 9px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.movies__button:hover {
  opacity: 0.8;
}

.movies__button_invisible {
  visibility: hidden;
  padding: 0;
  line-height: 10px;
}

@media screen and (max-width: 768px) {
  .movies {
    width: calc(100% - 60px);
  }

  .movies__list {
    grid-template-columns: repeat(auto-fit, 338px);
    gap: 30px;
    justify-content: center;
  }
}

@media screen and (max-width: 526px) {
  .movies {
    width: calc(100% - 20px);
  }

  .movies__list {
    grid-template-columns: repeat(auto-fit, 290px);
    justify-content: center;
    gap: 34px;
  }

  .movies__button {
    width: 290px;
  }
}

@media screen and (max-width: 320px) {
  .movies__list {
    grid-template-columns: repeat(auto-fit, 100%);
    gap: 34px;
  }

  .movies__button {
    width: 240px;
  }
}
