.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.08);
  border-radius: 13px;
}

.card__trailer-link {
  transition: opacity 0.2s ease-in;
}

.card__trailer-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card__image {
  width: 100%;
  height: 151px;
  object-fit: cover;
  object-position: center;
}

.card__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px 12px 10px 12px;
}

.card__title {
  width: 226px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.card__button {
  background: none;

  border: none;
  padding: 0;
  transition: opacity 0.3s ease-in;
  cursor: pointer;
  outline: none;
}

.card__button:hover {
  opacity: 0.8;
}

.card__btn-delete {
  width: 10px;
  height: 10px;
  background: url(../../images/close_button.svg) no-repeat center center;
  background-size: 12px;
}

.card__btn-save {
  justify-self: center;
  background-color: #f9f9f9;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: relative;
  width: 16px;
  height: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
}

.card__btn-save_active {
  background-color: #2be080;
}

.card__duration {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
  margin: 0 0 14px 12px;
}

@media screen and (max-width: 768px) {
  .card__image {
    height: 190px;
  }
}

@media screen and (max-width: 526px) {
  .card__image {
    height: 168px;
  }

  .card__title {
    font-size: 12px;
    line-height: 15px;
  }

  .card__duration {
    font-size: 10px;
    line-height: 12px;
  }
}
