.search {
  position: relative;
  width: calc(100% - 2 * 70px);
  margin: 0 auto 10px;
  box-sizing: border-box;
  padding: 70px 0;
  border-bottom: 1px solid #e8e8e8;
}

.search__form {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  width: 100%;
  min-height: 72px;
  box-sizing: border-box;
  padding: 16px 0 16px 19px;
  background: #fdfdfd;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
}

.search__input {
  box-sizing: border-box;
  padding: 0 0 0 22px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: none;
  background: #fdfdfd;
  background-image: url(../../images/search.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  padding: 10px 5px 10px 25px;
  text-indent: 30px;
}

.search__input:focus {
  box-shadow: 0 0 4px 1px rgb(255, 115, 0);
}

.search__input::placeholder {
  color: #a0a0a0;
}

.search__button {
  width: 59px;
  height: 34px;
  background: none;
  background-color: #ff6838;
  border-radius: 48px;
  border-width: 0px;
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.search__button:hover {
  opacity: 0.8;
}

.search__switch-box {
  display: flex;
  align-items: center;
  padding: 0 30px;
  font-size: 13px;
  line-height: 1.38;
  box-sizing: border-box;
  border-left: 1px solid #cbcbcb;
  min-height: 40px;
  margin-left: 19px;
}

.search__switch-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.search__switch {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.search__switch_visible {
  background-color: #fff;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  width: 36px;
  height: 20px;
  cursor: pointer;
  display: flex;
  margin-right: 14px;
}

.search__switch:checked + .search__switch_visible {
  justify-content: flex-end;
}

.search__switch:checked + .search__switch_visible .search__switch-item {
  background-color: #2be080;
}

.search__switch-item {
  margin: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #e8e8e8;
}

@media screen and (max-width: 768px) {
  .search {
    width: calc(100% - 60px);
    flex-direction: column;
    padding: 60px 0 56px;
  }

  .search__form {
    width: 100%;
    margin: 0 0 38px 0;
  }

  .search__input {
    padding-left: 18px;
  }
}
@media screen and (max-width: 610px) {
  .search {
    width: calc(100% - 20px);
    padding: 60px 0 63px;
  }

  .search__form {
    margin-bottom: 44px;
    grid-template-columns: 1fr 80px;
    padding-right: 19px;
  }

  .search__input {
    padding-left: 16px;
  }

  .search__switch-box {
    border: none;
    bottom: 30px;
    font-size: 11px;
    left: 50%;
    line-height: 18px;
    margin: 0;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 425px) {
  .search {
    width: calc(100% - 20px);
    padding: 60px 0 43px;
  }

  .search__form {
    margin-bottom: 44px;
  }

  .search__input {
    padding-left: 16px;
    background: none;
    text-indent: 0;
    padding: 0;
  }
}
